* {
  margin 0;
  padding: 0;
}

.carusel {
  width: 750px;
  margin: 0 auto;
  margin-top: 10px;
  height: 315px;
}

.jcarousel {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 748px;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
}

.jcarousel-control-next {
  right: 15px;
}

.jcarousel-control-prev {
  left: 15px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 40%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  border-radius: 30px;
  box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-pagination {
  position: absolute;
  margin-left: 318px;
  margin-top: 270px;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  background: #fff;
  color: #4E443C;
  border-radius: 10px;
  text-indent: -9999px;
  margin-right: 7px;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 2px #F0EFE7;
}

/*SELECT*/
 .select {
   width: 50px;
   margin: 0 auto;
 }

/*CHECKBOXJS*/
.niceCheck {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox.png);
}
.niceCheck input {
  display: none;
}

/*CHECKBOXCSS*/
/*input[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label {
	cursor: pointer;
}
label:after {
	content: " ";
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/checkbox-2.png);
	position: relative;
	top: 3px;
	margin-left: 15px;
}
input[type=checkbox]:checked + label:after {
background-position: 0 -17px;
}
label:hover:after {
background-position: 0 -34px;
}
input[type=checkbox]:checked + label:hover:after {
background-position: 0 -51px;
}*/
