* {
	margin: 0;
	padding: 0;
}

.vrapper {
	height: 200px;
	width: 300px;
	font-family: arial;
	margin: 0 auto;
	font-size: 20px;
}

.numbers {
	border: 1px solid black;
	background-color: #e6e9ef;
	text-align: right;
}

.theme {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.timer {
	height: 60px;
	width: 220px;
	margin: 0 auto;
}

.battons {
	width: 220px;
	display: inline-flex;
	justify-content: space-between;
}

.start,
.sop {
	height: 30px;
	width: 70px;
}