* {
  margin: 0;
  padding: 0;
}

.questions {
  width: 485px;
  margin: 0 auto;
}

form {
  text-align: center;
}

input[type="text"] {
  display: block;
  margin: 7px auto;
}

label {
  display: block;
  margin: 0 auto;
}

.btn {
  margin-top: 15px;
}