<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/localstorage.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<section class="test">
		<div class="deskription">Тест по программированию </div>
		<script type="text/template" id="tests">
			<div class="form">
				<% for(var i = 0; i < data.length; i++) { %>
					<h4><%= data[i].q %></h4>
					<input type="checkbox">
					<span><%= data[i].ans1 %><br></span>
					<input type="checkbox">
					<span><%= data[i].ans2 %><br></span>
					<input type="checkbox">
					<span><%= data[i].ans3 %><br></span>
				<% }; %>
					<input type="submit" class="btn btn-primary resultation" value="Проверить мои результаты">
			</div>

			<div class="modal fade" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Результаты тестирования</h4>
			      </div>
			      <div class="modal-body">
			        <p>&hellip;</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">Попробовать снова</button>
			      </div>
			    </div>
			  </div>
			</div>

		</script>
	</section>
</body>
</html>
