* {
	margin: 0;
	padding: 0;;
}

.m-sidebar {
	margin-left: 805px;
	margin-top: 53px;
	width: 219px;
	height: 715px;
	font-family: Verdana;
	background-color: #e1e1e1;
}

.m-title {
	float: left;
	font-size: 2.3vw;
	margin: 0 0 6px 17px;
	padding-top: 5px;
}

.m-add-group {
	margin-left: 176px;
	padding-top: 10px;
}

.m-groups {
	clear: both;
	margin-left: 39px;
	font-size: 1.26vw;
}

.m-group {
	line-height: 14px;
}

.m-group__name {
	list-style: none;
	line-height: 17px;
}

.m-group__contact {
	margin-left: 22px;
	margin-bottom: 5px;
}

.m-group__contact-name {
	list-style-type: disc;
	color: #00FF00;
	margin-left: 5px;
}

.m-group__contact-name_offline {
	list-style-type: circle;
	color: #000;
}

.m-group__contact span {
	color: #000;
	margin-left: -5px;
}