* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.vrapper {
	font-family: 'league_gothicregular';
}

.header {
	width: 2400px;
	height: 869px;
	background-image: url(../img/background-header.jpg);
}

.header_content {
	width: 961px; 
	margin: 0 auto;
}

@media (max-width: 768px) {
	.header_content {
		width: 768px;
		margin: 0 auto;
	}
}

@media (max-width: 480px) {
	.header_content {
		width: 480px;
		margin: 0 auto;
	}
}


.logolink {
	display: block;
	float: left;
	padding-top: 50px;
}

@media (max-width: 768px) {
	.logolink {
		display: block;
		float: left;
		padding-top: 50px;
	}
}

@media (max-width: 480px) {
	.logolink {
		float: none;
		display: block;
		margin: 0 auto 29px;

	}
}

@media (max-width: 480px) {
	.logolink__logo {
		display: block;
		margin: 0 auto;
	}
}

.navigation {
	float: left;
	width: 784px;
	margin-bottom: 175px;
}

@media (max-width: 768px) {
	.navigation {
		float: left;
		width: 655px;
		margin-bottom: 74px;
	}
}

@media (max-width: 480px) {
	.navigation {
		width: 0;
		float: none;
		display: block;
		margin: 0 auto 0;
		height: 50px;
	}
}

.list {
	margin-left: 102px;
	margin-top: 69px;
}

@media (max-width: 768px) {
	.list {
		margin-left: -28px;
		margin-top: 24px;
	}
}

@media (max-width: 480px) {
	.list {
		display: block;
		margin: 0 auto;
	}
}

.items {
	display: inline-flex;
	flex-direction: row;
	list-style-type: none;
	margin-left: 47px;
}

@media (max-width: 480px) {
	.items {
		text-align: center;
		margin: 0 auto;
	}
}

@media (max-width: 480px) {
	.items480-hide {
		display: none;
	}
}

@media (max-width: 480px) {
	.back__home {
		margin-left: -36px;
	}
}

.items__link {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	line-height: 33.724px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.items__link:hover {
	border-bottom: 3px solid  #eebfff;
	box-sizing: border-box;
}

@media (max-width: 480px) {
	.items__link:hover {
		border-bottom: none;
		box-sizing: border-box;
	}
}


@media (max-width: 480px) {
 .back:hover {
		background-image: url(../img/menu480.png);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
		width: 244px;
		height: 257px;
		margin-left: -140px;
	}
}

@media (max-width: 480px) {
	.back:hover .items480-hide,
	.back:hover .back__home {
		display: block;
		margin: 0 auto 9px;
		}
}


@media (max-width: 480px) {
	.back__home:hover,
	.items480-hide:hover {
		border-bottom: 3px solid  #eebfff;
		background: rgba(0, 0, 0, 0.2);
	}
}






.slider {
	clear: both;
	margin-left: -720px;
	background-color:  rgba(0, 0, 0, 0.2);
	width: 2400px;
	height: 400px;
}

@media (max-width: 768px) {
	.slider {
		clear: both;
		margin-left: -817px;
		background-color:  rgba(0, 0, 0, 0.2);
	}
}

@media (max-width: 480px) {
	.slider {
		margin-top: 14px;
		clear: both;
		margin-left: -960px;
		background-color:  rgba(0, 0, 0, 0.2);
	}
}


.descat {
	float: left;
	margin-left: 720px;
	padding-top: 84px;
	width: 500px;
}

@media (max-width: 768px) {
	.descat {
		float: left;
		margin-left: 860px;
		padding-top: 94px;
		width: 500px;
	}
}

@media (max-width: 480px) {
	.descat {
		float: left;
		margin-left: 988px;
		padding-top: 94px;
		width: 500px;
	}
}

.slider__descr {
	color:  #fefefe;
	font-size: 59px;
	font-weight: 400;
	line-height: 49px;
}

@media (max-width: 768px) {
	.slider__descr {
		color:  #fefefe;
		font-size: 47px;
		font-weight: 400;
		line-height: 49px;
	}
}

@media (max-width: 480px) {
	.slider__descr {
		color:  #fefefe;
		font-size: 36px;
		font-weight: 400;
		line-height: 28px;
	}
}


.slider__minidescr {
	color:  #eebfff;
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
}

@media (max-width: 768px) {
	.slider__minidescr {
		color:  #eebfff;
		font-size: 22px;
		font-weight: 400;
		line-height: 41px;
	}
}

@media (max-width: 480px) {
	.slider__minidescr {
		color:  #eebfff;
		font-size: 18px;
		font-weight: 400;
		line-height: 40px;
	}
}


.slider__article
 {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: -1px;
}

@media (max-width: 768px) {
	.slider__article {
		display: block;
		width: 300px;
		font-family: 'open_sansregular';
		color:  #ffffff;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: -1px;
	}
}

@media (max-width: 768px) {
	.slider__article768 {
		display: none;
	}
}

@media (max-width: 480px) {
	.slider__article {
		display: none;
	}
}


.image {
	float: left;
	margin-left: 116px;
	margin-top: -16px;
}

.image480 {
	float: left;
	display: none;
}

@media (max-width: 768px) {
	.image {
		float: left;
		margin-left: -95px;
		margin-top: -24px;
	}
}

@media (max-width: 480px) {
	.image {
		display: none;
	}
}

@media (max-width: 480px) {
	.image480 {
		display: block;
		margin-left: -279px;
		margin-top: -10px;
	}
}


/*main*/

.about {
	width: 2400px;
	height: 342px;
	margin-top: -23px;
	background: url(../img/fiolet.png) no-repeat;
	border-top: 1px solid black;
}

@media (max-width: 768px) {
	.about {
		margin-top: -73px;
	}
}

@media (max-width: 480px) {
	.about {
		width: 2400px;
		height: 598px;
		margin-top: -323px;
		background: url(../img/fiolet480.png) no-repeat;
	}
}


.iconsback {
	background: url(../img/icons.png) no-repeat;
	height: 30px;
	width: 705px;
	margin-left: 729px;
	margin-top: 81px;
}

@media (max-width: 768px) {
	.iconsback {
		background: url(../img/icons768.png) no-repeat;
		margin-left: 846px;
		margin-top: 80px;
	}
}

@media (max-width: 480px) {
	.iconsback {
		float: left;
		background: url(../img/icons480.png) no-repeat;
		margin-left: 975px;
		margin-top: 80px;
		height: 347px;
		width: 30px;
	}
}

.box-article {
	display: inline-flex;
	float: left;
	margin-left: 783px;
}

@media (max-width: 768px) {
	.box-article {
		margin-left: 899px;
	}
}

@media (max-width: 480px) {
	.box-article {
		margin-left: 899px;
		margin-top: -254px;
	}
}

.box-article1,
.box-article2,
.box-article3 {
	height: 113px;
	margin-top: -33px;
	margin-right: 116px;
	width: 218px;
}

@media (max-width: 768px) {
	.box-article1,
	.box-article2,
	.box-article3 {
		margin-top: -34px;
		margin-right: 33px;
	}
}

@media (max-width: 480px) {
	.box-article1,
	.box-article2,
	.box-article3 {
		margin-right: 31px;
		margin-top: -124px;
		height: 124px;
		width: 364px;
		margin-left: 114px;
	}
}


.box-article-descr {
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-shadow: 0px 1px 0px #0f1518;
	margin-bottom: 10px; 
}

@media (max-width: 768px) {
	.box-article-descr {
		font-size: 24px;
		line-height: 20px;
		margin-bottom: 8px; 
	}
}


.box-article-article {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	letter-spacing: -1px;
	text-shadow: 0px 1px 0px #0f1518;
}

@media (max-width: 768px) {
	.box-article-article {
		letter-spacing: 0;
		font-size: 19px;
	}
}

@media (max-width: 768px) {
	.box-article-article768 {
		display: none;
	}
}


.box-article-rmore{
	text-align: right;
	margin-top: 18px;
	margin-right: 5px;
}

@media (max-width: 768px) {
	.box-article-rmore{
		margin-top: 2px;
		margin-right: 75px;
	}
}

.box-article-rmore__link {
	color:  #ffffff;
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0px 1px 0px #0f1518;
	text-decoration: none;
}

.box-article-rmore__link:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.blog {
	background: #f9f9f9;
	height: 482px;
	width: 2400px;
	border-bottom: 1px solid #e6e6e6;
}

.pingbuller {
	float: left;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	width: 387px;
	height: 242px;
	background-color: #fff;
	margin-left: 784px;
	margin-top: 129px;
}

@media (max-width: 768px) {
	.pingbuller {
		width: 285px;
		height: 242px;
		margin-left: 878px;
		margin-top: 131px;
	}
}

.pingbuller-photo {
	float: left;
	margin-left: -63px;
	margin-top: -12px; 
}
@media (max-width: 768px) {
	.pingbuller-photo {
		margin-left: -45px;
	}
}

.box-article--pingbuller {
	color: #454545;
}

@media (max-width: 768px) {
	.box-article--pingbuller{
		font-size: 23px;
		margin-bottom: 33px;
		padding-left: 19px;
		text-shadow: none;
		color: #454545;
	}
}

.box-article-article--pingbuller {
	color: #454545;
}

@media (max-width: 768px) {
	.box-article-article--pingbuller {
		text-shadow: none;
		font-size: 16px;
		padding-left: 15px;
	}
}
@media (max-width: 768px) {
	.box-article-article--pingbuller768 {
		display: none;
	}
}

.recent {
	float: left;
	margin-left: 56px;
	margin-top: 135px;
	width: 470px;
}

@media (max-width: 768px) {
	.recent {
		margin-left: 65px;
		margin-top: 135px;
		width: 465px;
	}
}

.blog-icons {
	float: left;
	margin-right: 20px;
}

.box-article--recent {
	color: black;
	margin-bottom: 17px;
}

@media (max-width: 768px) {
	.box-article--recent {
		font-size: 30px;
		margin-bottom: 21px;
	}
}

.blog-recent {
	margin-bottom: 19px;
}


.recent-deskr {
	font-family: 'open_sansregular';
	color:  #454545;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

@media (max-width: 768px) {
	.recent-deskr {
		word-spacing: 5px;
	}
}

.recent-short-article {
	font-family: 'open_sansregular';
	color:  #454545;
	font-size: 16px;
	line-height: 24px;
}


@media (max-width: 768px) {
	.recent-short-article768 {
		display: none;
	}
}

.recent-rmh {
	text-align: right;
	color: #454545;
	font-size: 18px;
	text-shadow: 0px 1px 0px #ffffff;
	margin: 24px 37px 0 0;
}

@media (max-width: 768px) {
	.recent-rmh {
		display: none;
	}
}

.recent-mbp {
	display: none;
}

@media (max-width: 768px) {
	.recent-mbp {
		text-align: right;
		display: block;
		padding-right: 10px;
		font-size: 18px;
		margin-right: 129px;
		margin-top: 1px;
	}
}

.lable {
	height: 120px;
	width: 2400px;
	background: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
}

.lables {
	margin-left: 814px;
	padding-top: 25px;
}

.blogf {
	height: 300px;
	width: 2400px;
	background: #ececec;
	padding-top: 98px;
}

@media (max-width: 768px) {
	.box-article--blogf{
		margin-left: 832px;
	}
}

.box-article1--blogf,
.box-article2--blogf,
.box-article3--blogf {
	width: 275px;
	height: 200px;
	margin-top: 2px;
	margin-right: 64px;
}

@media (max-width: 768px) {
	.box-article1--blogf,
	.box-article2--blogf,
	.box-article3--blogf {
		width: 211px;
		margin-top: 6px;
		margin-right: 55px;
	}	
}


.box-article-descr--blogfb768 {
	display: none;
}

@media (max-width: 768px) {
	.box-article-descr--blogfb768 {
		display: block;
		font-size: 24px;
		color: #454444;
	}
}

.box-article-descr--blogf {
	color: #454444;
}

@media (max-width: 768px) {
	.box-article-descr--blogf {
		display: none;
	}
}

.box-article-descr--blogfb {
	color: #454545;
	font-size: 48px;
	margin-top: 10px;
	margin-bottom: 24px;
}

@media (max-width: 768px) {
	.box-article-descr--blogfb{
		display: none;
	}
}

.copyright {
	font-family: Georgia;
	color:  #c5c5c5;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	text-shadow: 0px 1px 0px #ffffff;
}

@media (max-width: 768px) {
	.copyright {
		display: none;
	}
}


.box-article-article--blogf {
	color: #787878;
}

@media (max-width: 768px) {
	.box-article-article--blogf{
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.box-article-article--blogf768 {
		display: none;
	}
}


/*footer*/

.footer {
	width: 2400px;
	height: 114px;
	background: url(../img/footer.png) no-repeat;
}

@media (max-width: 768px) {
	.footer {
		height: 200px;
		background: url(../img/footer768.png) no-repeat;
		background-position: bottom; 
	}
}

.navigation--footer {
	margin-bottom: 0px;
	width: 0;
}

.list--footer {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	width: 579px;
	height: 114px;
	margin-left: 694px;
	margin-top: 0;
}

@media (max-width: 768px) {
	.list--footer {
		margin-left: 812px;
		width: 570px;
	}
}


.list--footer .items__link {
	font-size: 20px;
}

.list--footer .items {
	margin-left: 0;
}

.design	{
	display: flex;
	float: right;
	justify-content: flex-start;
	align-items: center;
	width: 857px;
	height: 114px;
}

@media (max-width: 768px) {
	.design {
		margin-top: 51px;
		margin-right: 117px;
	}
}


.design-firstword {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 12px;
	line-height: 33.724px;
}

.design-secondword {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 33.724px;
}



