* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.vrapper {
	font-family: 'league_gothicregular';
	/*margin-left: 2px;*/
}

.header {
	width: 2400px;
	height: 869px;
	background-image: url(../img/background-header.jpg);
}

.header_content {
	width: 961px; 
	margin: 0 auto;
}

.logolink {
	display: block;
	float: left;
	padding-top: 50px;
}

.navigation {
	float: left;
	width: 784px;
	margin-bottom: 175px;
}

.list {
	margin-left: 102px;
	margin-top: 69px;
}

.items {
	display: inline-flex;
	flex-direction: row;
	list-style-type: none;
	margin-left: 48px;
}

.items__link {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	line-height: 33.724px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.items:hover {
	border-bottom: 3px solid  #eebfff;
	box-sizing: border-box;
}

.slider {
	clear: both;
	margin-left: -720px;
	background-color:  rgba(0, 0, 0, 0.2);
	width: 2400px;
	height: 400px;
}

.descat {
	float: left;
	margin-left: 720px;
	padding-top: 84px;
	width: 500px;

}

.slider__descr {
	color:  #fefefe;
	font-size: 59px;
	font-weight: 400;
	line-height: 49px;
}

.slider__minidescr {
	color:  #eebfff;
	font-size: 32px;
	font-weight: 400;
	line-height: 46px;
}

.slider__article {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: -1px;
}

.image {
	float: left;
	margin-left: 116px;
	margin-top: -16px;
}


/*main*/

.about {
	width: 2400px;
	height: 342px;
	margin-top: -23px;
	background: url(../img/fiolet.png) no-repeat;
	border-top: 1px solid black;
}

.iconsback {
	background: url(../img/icons.png) no-repeat;
	height: 30px;
	width: 705px;
	margin-left: 729px;
	margin-top: 81px;
}

.box-article {
	display: inline-flex;
	float: left;
	margin-left: 783px;
}

.box-article1,
.box-article2,
.box-article3 {
	width: 223px;
	height: 113px;
	margin-top: -33px;
	margin-right: 116px;
}

.box-article-descr {
	color:  #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-shadow: 0px 1px 0px #0f1518;
	margin-bottom: 10px; 
}

.box-article-article {
	font-family: 'open_sansregular';
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	text-align: left;
	letter-spacing: -1px;
	text-shadow: 0px 1px 0px #0f1518;
}

.box-article-rmore{
	text-align: right;
	margin-top: 18px;
	margin-right: 5px;
}

.box-article-rmore__link {
	color:  #ffffff;
	font-size: 18px;
	line-height: 24px;
	text-shadow: 0px 1px 0px #0f1518;
	text-decoration: none;
}

.box-article-rmore__link:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.blog {
	background: #f9f9f9;
	position: absolute;
	height: 1018px;
	width: 2400px;
}

.pingbuller {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	width: 387px;
	height: 242px;
	background-color: #fff;
	margin-left: 784px;
	margin-top: 129px;
}

.pingbuller-photo {
	float: left;
	margin-left: -63px;
	margin-top: -12px; 
}

.box-article--pingbuller {
	color: black;
}

.box-article-article--pingbuller {
	color: black;
}