body{
	font-family: Arial;
	margin: 0% 25%;
}

.photo img{
	width: 35%;
}

.cont{
	margin-left: 40px;
}


a{
	font-style: italic;




ilya [5:22 PM]  
без ответов, только наставления))

geshque [5:22 PM]  
так наставьте )

ilya [5:23 PM]  
у тебя ширина твоей страницы 500рх

vova.m [5:23 PM]  
я через відступи робив

ilya [5:23 PM]  
так и задай ее, а по бокам margin auto

[5:24]  
чтоб на любом экране твои 500рх были по центру

[5:24]  
так же с картинкой, помести в контейнер и задай размеры

[5:25]  
а слева и справа margin: auto;