* {
	margin: 0;
	padding: 0;
	border: none;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body .site{
	background: url("../img/bacground.png");
	width: 1215px;
	height: 1064px;
	margin: auto;
	font-family: "helvetica_neueregular"
}

/*menu*/
.menu ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: url("../img/menu-bacground.png"); 
}

.menu li {
	display: inline-flex;
	align-items: center;
}

.menu img {
	margin: 0 10px;
}

.menu a {
	padding: 9px 12px;
	text-decoration: none;
	color: #53a4dd;
}

.ola{
	padding-left: 5px;
	margin-right: 15px;
}
.menu .ola,
.menu .ola a {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.menu .ola:hover {
	background: url("../img/button-fon.png");
}

.menu .ola a:hover {
	background: url("../img/button-fon.png");
	text-decoration: underline;
}

.menu .minhas {
	color: white;
}

.menu a:hover {
	background-color: #4eabda;
	color: white;
}

/*registration*/
.registration {
	background-color: rgba(0,0,0,0.6);
	width: 560px;
	height: 620px;
	margin: auto;
	margin-top: 210px;
}

.cadastre p{
	color: white;
	text-align: center;
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.faceboock {
	text-align: center;
	padding-top: 45px;
}

.line {
	text-align: center;
	padding: 20px;
}

.forma form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forma input {
	padding-left: 15px;
	margin-bottom: 18px;
	height: 38px;
	width: 250px;
	color: white;
	background-color: black;
	border-bottom: 1px solid #4a4a4a;
} 

.forma input:hover {
	box-shadow: 0px 0px 10px 3px rgba(77,135,177,1);
	background: #1b5288;
}

.forma label{
	color: white;
	font-size: 14px;
}

.forma label input {
	height: 12px;
	width: 15px;
	margin-bottom: 20px;
}

.forma .button-submit {
	color: white;
	padding-left: 0;
	width: 151px;
	height: 37px;
	background: url(../img/button-submit.png);
}

.forma .button-submit:hover,
.forma label input:hover {
	box-shadow: none;
	background: url(../img/button-submit.png);
}


.forma p {
	font-size: 12px;
	text-align: center;
	margin: auto;
	color: white;
	width: 320px;
}
