* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	width: 1000px;
	height: 1310px;
	margin: 0 auto;
	border: 1px solid gray;
	font-family: arial;
}

header {
	display: flex;
}

.phone img{
	margin-top: 24px;
	margin-left: 57px;
}

.phone p {
	margin-top: -25px;
	font-size: 18.5px;
	margin-left: 82px;
}

.registration {
	display: inline-flex;
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
	width: 495px;
	height: 26px;
	margin-top: 20px;
	margin-left: 15px;
	box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
	border-radius: 5px;
}

.registration img {
	margin-left: 6px;
	margin-top: 5px;
	margin-bottom: auto;
}

.registration form {
	display: flex;
	margin-top: 4px;
	margin-left: 3px;
}

.registration input {
	height: 13px;
	width: 111px;
	font-size: 11px;
	margin-right: 6px;
}

.registration a {
	margin: 6px 5px 6px 2px;
	font-size: 11px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.registration p {
	margin: 6px 2px 6px -1px;
	font-size: 10px;
	color: white;
}

.registration .foget-pass {
	margin: 5px 0 6px 13px;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.5px;
	text-decoration: underline;
}

.navi {
	display: inline-flex;
	align-items: center;
	background: url(../img/navi.png) no-repeat;
	height: 21px;
	width: 76px;
	margin-left: 16px;
	margin-top: 21px;
}

.navi a {
	margin-left: 9px;
	margin-bottom: 2px;

}

.baner {
	position: absolute;
	margin-top: 56px;
	margin-left: 50px;
}

nav {
	display: inline-flex;
	align-items: center;
	background: url(../img/bacground-menu.png);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
	margin-top: 253px;
	margin-left: 50px;
	width: 910px;
	height: 33px;
	border: 1px solid #0a1030;
	border-radius: 5px;
}

nav ul {
	display: inline-flex;
	justify-content: space-between;
	font-family: 'lucida_sans_unicoderegular';
	margin-left: 145px;
	width: 488px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav li {
	display: inline-flex;
	margin-right: 27px;
	font-size: 14px;
}

