* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	width: 1000px;
	height: 1310px;
	margin: 0 auto;
	border: 1px solid gray;
	font-family: arial;
}

header {
	display: flex;
}

.phone img{
	margin-top: 24px;
	margin-left: 57px;
}

.phone p {
	margin-top: -25px;
	font-size: 18.5px;
	margin-left: 82px;
}

.registration {
	display: inline-flex;
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
	width: 495px;
	height: 26px;
	margin-top: 20px;
	margin-left: 15px;
	box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
	border-radius: 5px;
}

.registration img {
	margin-left: 6px;
	margin-top: 5px;
	margin-bottom: auto;
}

.registration form {
	display: flex;
	margin-top: 4px;
	margin-left: 3px;
}

.registration input {
	height: 13px;
	width: 111px;
	font-size: 11px;
	margin-right: 6px;
}

.registration a {
	margin: 6px 5px 6px 2px;
	font-size: 11px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.registration p {
	margin: 6px 2px 6px -1px;
	font-size: 10px;
	color: white;
}

.registration .foget-pass {
	margin: 5px 0 6px 13px;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.5px;
	text-decoration: underline;
}

.navi {
	display: inline-flex;
	align-items: center;
	background: url(../img/navi.png) no-repeat;
	height: 21px;
	width: 76px;
	margin-left: 16px;
	margin-top: 21px;
}

.navi a {
	margin-left: 9px;
	margin-bottom: 2px;

}

.baner {
	position: absolute;
	margin-top: 56px;
	margin-left: 50px;
}

nav {
	background: url(../img/bacground-menu.png);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
	margin-top: 253px;
	margin-left: 50px;
	width: 910px;
	height: 33px;
	border: 1px solid #0a1030;
	border-radius: 5px;
}

nav ul {
	display: inline-flex;
	justify-content: space-between;
	font-family: 'lucida_sans_unicoderegular';
	margin-left: 132px;
	margin-top: 5px;
	width: 465px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav li {
	display: inline-flex;
	color:  #ffffff;
	font-size: 13.64px;
	text-align: center;
	transform: scaleY(1.0003);
	padding: 0 8px 0 8px;
}

nav a:hover {
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
	border-radius: 14px;
}
 
.basket {
	display: inline-flex;
	float: right;
	align-items: center;
	margin-top: 6px;
	margin-right: 13px;
}

.basket img {
	margin-top: 1px;
}

.basket .text {
	display: block;
	color:  #929b9f;
	font-size: 11px;
	letter-spacing: 0.44px;
	margin-left: 8px;
}

.basket .num {
	display: block;
	margin-top: 1px;
	color:  #0d5a8f;
	font-size: 12px;
	letter-spacing: 0.48px;
}

.find {
	margin-left: 54px;
	margin-top: 8px;
}

.find img {
	margin-right: 1px; 
}


/*left aside*/

.asleft {
	float: left;
	margin-left: 48px;
	margin-top: 7px;
}

.catalog {
	border: 1px solid #79878d;
	box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
	width: 181px;
	height: 25px;
	border-radius: 15px;
	margin-bottom: 13px;	
}

.icon {
	float: left;
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%); 
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-top: 2px;
}

.icon img{
	margin-top: 3px;
	margin-left: 4px;
}

.catalog p {
	float: left;
	font-family: 'lucida_sans_unicoderegular';
	color: #114165;
	font-size: 12.73px;
	line-height: 28px;
	margin-left: 5px;
}


.borderitems {
	margin-left: 4px;
	border: 1px solid #79878d;
	width: 148px;
	height: 26px;
	border-radius: 15px;
}

.titleitems {
	margin-top: 2px;
	margin-left: 3px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 5px solid #114165;
}

.titleitems p {
	margin-left: 20px;
	padding-top: 1px;
	color:  #0c3256;
	font-size: 14px;
	line-height: 13px;
}

.items ul{
	margin-left: 50px;
	margin-bottom: -5px;
}

.items a {
	text-decoration: none;
}

.items li {
	font-family: 'lucida_sans_unicoderegular';
	color:  #114165;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0.3px;
	text-align: left;
}

.items li:hover {
	font-style: italic;
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
}


/*main*/

main {
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	width: 527px;
	height: 628px; 
	background: linear-gradient(0deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
	margin-left: 9px;
	margin-top: 3px;
}

.details {
	margin-top: -4px;
	width: 138px;
}

figure {
	border-radius: 7px;
	border: 1px solid #a4aeb1;
	background-color:  #ffffff;
	width: 137px;
	height: 124px;
	text-align: center;
	padding-top: 3px;
}

figure img {
	margin-top: 2px;
}

.brand {
	font-family: 'lucida_sans_unicoderegular';
	text-decoration: none;
	color: #206988;
	font-size: 14.59px;
	line-height: 14px;
	text-align: center;
}

.det {
	text-decoration: none;
	color:  #1f2528;
	font-size: 12.77px;
	line-height: 14px;
	text-align: center;
}

.price {
	font-family: Arial;
	margin-top: 5px;
	margin-left: 5px;
	color:  #114165;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	line-height: 11px;
	text-align: center;
}

main .firstcol {
	margin-left: 11px;
}

main .secondcol {
	margin-right: -1px;
}

main .thirdcol {
	margin-right: 17px;
}


/*asright*/

.asright {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.asright .icon {
	float: left;
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%); 
	border-radius: 50%;
	width: 22px;
	height: 22px;
	margin-left: 2px;
	margin-top: 1px;
}

.asright .icon .img {
	margin-top: 4px;
	margin-left: 5px;
}

.asright .borderitems {
	margin-left: 14px;
	width: 134px;
	margin-bottom: 3px;
}

.asright .titleitems p{
	margin-left: 22px;
}

aside form {
	display: flex;
	flex-direction: column;
	font-family: 'lucida_sans_unicoderegular';
    color: #114165;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.3px;
    margin-left: 32px;
    margin-bottom: 5px;
}

.submit {
	color: #e5e9ea;
	border: 1px solid #a7abae;
	border-radius: 12px;
	background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
	width: 80px;
	height: 26px;
	margin-top: 10px;
	margin-left: -8px;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.44px;
	text-align: center;
}

.brands {
	clear: both;
	padding-top: 30px;
	margin-left: 164px;
}

.brands img {
	padding-right: 10px;
}

footer {
	width: 908px;
	height: 100px;
	border: 1px solid #242a3c;
	background-color: #213a4d;
	margin-top: 28px;
	margin-left: 50px; 
}

footer ul {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	margin-left: -2px;
}

footer li {
	display: inline-flex;
}

footer a {
	text-decoration: none;
	color:  #bec6c9;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 18px;
	text-align: center;
}

footer ul span {
	color: #bec6c9;
}

footer a:hover {
	color:  #52accb;
}

footer p{
	font-family: Arial;
	color:  #7f4740;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
	margin-left: 8px
}
